.device-card {
    width: 400px;
    height: 150px;
    border: 1px grey solid;
    padding: 8px;
}

.device-card__status {

    cursor: pointer;
    background: lightgray;
    color: black;
    border: 1px grey solid;
    border-radius: 5px;

    &--selected {
        background:  #1c2e4f ;
        border: 1px #1c2e4f solid;
        color: white;
    }
}
