.login-button {
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    cursor: pointer;
    width: 75px;
    height: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: 26px;
}

.signin-button {
    background: #0e98c4;
}

.signout-button {
    background: #c45244;
    color: white;
}

.loader {
    border: 3px dashed #f3f3f3;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
